/* MOBILE */

/* Color - style */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

.grey {
    color: #243e63;
}

.white {
    color: #e8eaee;
}

.italic {
    font-style: italic;
    padding: 5px;
}

.bgViolet {
    background-color: #6415ff;
}

.bgNone {
    background-color: transparent;
}

.bolder {
    font-weight: bolder;
}

.text {
    font-family: 'Inter', sans-serif;
}

/* code */
.container {
    /*width: 1100px; 1840*/
    margin: auto;
    display: block;
    justify-content: center;
    width: 500px;
}

.flex {
    display: flex;
    align-items: center;
}

.between {
    justify-content: space-between;
}

header img {
    width: 50px;
    height: 50px;
}

.desktop {
    display: none;
}

.first-bloc, .second-bloc {
    text-align: center;
}

.center {
    display: inherit;
}

button {
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 17px;
}

.commander {
    padding: 15px 25px;
}

.first-photo {
    object-fit: contain;
    width: 500px;
    height: 350px;
    border-radius: 50px;
}

.second-photo {
    width: 390px;
    border-radius: 50px;
    margin-top: 100px;
}


/* DESKTOP */
@media (min-width: 1024px) {
    /* header {
        justify-content: space-between;
    } */
}